# Python Virtual Environments
venv/
.venv/
env/
ENV/

# Python Cache & Builds
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/
.mypy_cache/

# Local configuration
.env

# Local cache & artifacts
artifacts/
.DS_Store
*.log
